.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  -webkit-transition: opacity 500ms ease-in-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 50ms ease-out;
  -webkit-transition: opacity 50ms ease-out;
}

html {
  font-family: 'Source Code Pro', monospace, sans-serif, Helvetica;
  color: #4A4A4A;
}

* {
  transition: all, 150ms
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  margin: 0px;
  color: #4A4A4A;
}

p {
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  color: #4A4A4A;
  margin: 0px;
}

a {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  text-decoration: none;
  color: #4A4A4A;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.actionButton {
  font-family: 'Source Code Pro';
  font-size: 14px;
  text-decoration: none;
  color: #4A4A4A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #4A4A4A;
  padding: 7px 30px;
  transition: all, 150ms;
}
.actionButton:hover {
  background-color: #4A4A4A;
  color: #ffffff;
}

.container {
  margin: auto;
  padding: 0;
}

.footer {
    height: 75px;
}

/* lg */
@media only screen and (min-width: 1440px) {
  .row {
    max-width: 1020px;
    height: 100vh;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }
}
  
  
/* md */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .row {
    max-width: 876px;
    height: 100vh; 
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }
}
  
/* sm */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .row {
    width: 768px;
    height: 80vh; 
  }

  .container {
    margin: 0;
    width: 100%;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 10px;
  }
  
  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  h3 {
    font-size: 32px;
    line-height: 32px;
  }
}
  
/* xs */
@media only screen and (max-width: 767px) {
  .row {
    width: 100vw;
    height: 100vh;
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }

  p {
    width: 100%;
  }

  .actionButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}

/*Flexbox adjustments */
.col {
  padding: 0px !important;
}