/* Uncomment and set these variables to customize the grid. */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

/*.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}*/
@media only screen and (max-width: 767px) {
  .col-width-xs,
  .col-width-xs-1,
  .col-width-xs-2,
  .col-width-xs-3,
  .col-width-xs-4,
  .col-width-xs-5,
  .col-width-xs-6,
  .col-width-xs-7,
  .col-width-xs-8,
  .col-width-xs-9,
  .col-width-xs-10,
  .col-width-xs-11,
  .col-width-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 0;
  }

  .col-width-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 100%;
  }
  .col-width-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    width: 8.333%;
  }
  .col-width-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    width: 16.667%;
  }
  .col-width-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
  }
  .col-width-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    width: 33.333%;
  }
  .col-width-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    width: 41.667%;
  }
  .col-width-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
  }
  .col-width-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    width: 58.333%;
  }
  .col-width-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    width: 66.667%;
  }
  .col-width-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    width: 75%;
  }
  .col-width-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    width: 83.333%;
  }
  .col-width-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    width: 91.667%;
  }
  .col-width-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }

  .col-height-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    height: 100%;
  }
  .col-height-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    height: 8.333%;
  }
  .col-height-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    height: 16.667%;
  }
  .col-height-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    height: 25%;
  }
  .col-height-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    height: 33.333%;
  }
  .col-height-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    height: 41.667%;
  }
  .col-height-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 50%;
  }
  .col-height-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    height: 58.333%;
  }
  .col-height-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    height: 66.667%;
  }
  .col-height-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    height: 75%;
  }
  .col-height-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    height: 83.333%;
  }
  .col-height-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    height: 91.667%;
  }
  .col-height-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;
  }

  .col-x-xs-offset-0 {
    margin-left: 0;
  }
  .col-x-xs-offset-1 {
    margin-left: 8.333%;
  }
  .col-x-xs-offset-2 {
    margin-left: 16.667%;
  }
  .col-x-xs-offset-3 {
    margin-left: 25%;
  }
  .col-x-xs-offset-4 {
    margin-left: 33.333%;
  }
  .col-x-xs-offset-5 {
    margin-left: 41.667%;
  }
  .col-x-xs-offset-6 {
    margin-left: 50%;
  }
  .col-x-xs-offset-7 {
    margin-left: 58.333%;
  }
  .col-x-xs-offset-8 {
    margin-left: 66.667%;
  }
  .col-x-xs-offset-9 {
    margin-left: 75%;
  }
  .col-x-xs-offset-10 {
    margin-left: 83.333%;
  }
  .col-x-xs-offset-11 {
    margin-left: 91.667%;
  }

  .col-y-xs-offset-1 {
    margin-top: 0;
  }
  .col-y-xs-offset-1 {
    margin-top: 8.333%;
  }
  .col-y-xs-offset-2 {
    margin-top: 16.667%;
  }
  .col-y-xs-offset-3 {
    margin-top: 25%;
  }
  .col-y-xs-offset-4 {
    margin-top: 33.333%;
  }
  .col-y-xs-offset-5 {
    margin-top: 41.667%;
  }
  .col-y-xs-offset-6 {
    margin-top: 50%;
  }
  .col-y-xs-offset-7 {
    margin-top: 58.333%;
  }
  .col-y-xs-offset-8 {
    margin-top: 66.667%;
  }
  .col-y-xs-offset-9 {
    margin-top: 75%;
  }
  .col-y-xs-offset-10 {
    margin-top: 83.333%;
  }
  .col-y-xs-offset-11 {
    margin-top: 91.667%;
  }

  /*.start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }*/
}

@media only screen and (min-width: 768px) {
  .container {
    width: 46rem;
  }

  .col-width-sm,
  .col-width-sm-1,
  .col-width-sm-2,
  .col-width-sm-3,
  .col-width-sm-4,
  .col-width-sm-5,
  .col-width-sm-6,
  .col-width-sm-7,
  .col-width-sm-8,
  .col-width-sm-9,
  .col-width-sm-10,
  .col-width-sm-11,
  .col-width-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding: 0;
  }

  .col-width-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 100%;
  }
  .col-width-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    width: 8.333%;
  }
  .col-width-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    width: 16.667%;
  }
  .col-width-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
  }
  .col-width-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    width: 33.333%;
  }
  .col-width-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    width: 41.667%;
  }
  .col-width-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
  }
  .col-width-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    width: 58.333%;
  }
  .col-width-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    width: 66.667%;
  }
  .col-width-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    width: 75%;
  }
  .col-width-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    width: 83.333%;
  }
  .col-width-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    width: 91.667%;
  }
  .col-width-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }

  .col-height-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    height: 100%;
  }
  .col-height-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    height: 8.333%;
  }
  .col-height-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    height: 16.667%;
  }
  .col-height-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    height: 25%;
  }
  .col-height-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    height: 33.333%;
  }
  .col-height-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    height: 41.667%;
  }
  .col-height-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 50%;
  }
  .col-height-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    height: 58.333%;
  }
  .col-height-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    height: 66.667%;
  }
  .col-height-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    height: 75%;
  }
  .col-height-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    height: 83.333%;
  }
  .col-height-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    height: 91.667%;
  }
  .col-height-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;
  }

  .col-x-sm-offset-1 {
    margin-left: 0;
  }
  .col-x-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-x-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-x-sm-offset-3 {
    margin-left: 25%;
  }
  .col-x-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-x-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-x-sm-offset-6 {
    margin-left: 50%;
  }
  .col-x-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-x-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-x-sm-offset-9 {
    margin-left: 75%;
  }
  .col-x-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-x-sm-offset-11 {
    margin-left: 91.667%;
  }

  .col-y-sm-offset-0 {
    margin-top: 0;
  }
  .col-y-sm-offset-1 {
    margin-top: 8.333%;
  }
  .col-y-sm-offset-2 {
    margin-top: 16.667%;
  }
  .col-y-sm-offset-3 {
    margin-top: 25%;
  }
  .col-y-sm-offset-4 {
    margin-top: 33.333%;
  }
  .col-y-sm-offset-5 {
    margin-top: 41.667%;
  }
  .col-y-sm-offset-6 {
    margin-top: 50%;
  }
  .col-y-sm-offset-7 {
    margin-top: 58.333%;
  }
  .col-y-sm-offset-8 {
    margin-top: 66.667%;
  }
  .col-y-sm-offset-9 {
    margin-top: 75%;
  }
  .col-y-sm-offset-10 {
    margin-top: 83.333%;
  }
  .col-y-sm-offset-11 {
    margin-top: 91.667%;
  }
/*
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }*/
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 61rem;
  }

  .col-width-md,
  .col-width-md-1,
  .col-width-md-2,
  .col-width-md-3,
  .col-width-md-4,
  .col-width-md-5,
  .col-width-md-6,
  .col-width-md-7,
  .col-width-md-8,
  .col-width-md-9,
  .col-width-md-10,
  .col-width-md-11,
  .col-width-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0;
  }

  .col-width-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 100%;
  }
  .col-width-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    width: 8.333%;
  }
  .col-width-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    width: 16.667%;
  }
  .col-width-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
  }
  .col-width-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    width: 33.333%;
  }
  .col-width-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    width: 41.667%;
  }
  .col-width-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
  }
  .col-width-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    width: 58.333%;
  }
  .col-width-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    width: 66.667%;
  }
  .col-width-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    width: 75%;
  }
  .col-width-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    width: 83.333%;
  }
  .col-width-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    width: 91.667%;
  }
  .col-width-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }

  .col-height-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    height: 100%;
  }
  .col-height-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    height: 8.333%;
  }
  .col-height-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    height: 16.667%;
  }
  .col-height-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    height: 25%;
  }
  .col-height-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    height: 33.333%;
  }
  .col-height-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    height: 41.667%;
  }
  .col-height-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 50%;
  }
  .col-height-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    height: 58.333%;
  }
  .col-height-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    height: 66.667%;
  }
  .col-height-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    height: 75%;
  }
  .col-height-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    height: 83.333%;
  }
  .col-height-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    height: 91.667%;
  }
  .col-height-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;
  }

  .col-x-md-offset-0 {
    margin-left: 0;
  }
  .col-x-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-x-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-x-md-offset-3 {
    margin-left: 25%;
  }
  .col-x-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-x-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-x-md-offset-6 {
    margin-left: 50%;
  }
  .col-x-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-x-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-x-md-offset-9 {
    margin-left: 75%;
  }
  .col-x-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-x-md-offset-11 {
    margin-left: 91.667%;
  }

  .col-y-md-offset-0 {
    margin-top: 0;
  }
  .col-y-md-offset-1 {
    margin-top: 8.333%;
  }
  .col-y-md-offset-2 {
    margin-top: 16.667%;
  }
  .col-y-md-offset-3 {
    margin-top: 25%;
  }
  .col-y-md-offset-4 {
    margin-top: 33.333%;
  }
  .col-y-md-offset-5 {
    margin-top: 41.667%;
  }
  .col-y-md-offset-6 {
    margin-top: 50%;
  }
  .col-y-md-offset-7 {
    margin-top: 58.333%;
  }
  .col-y-md-offset-8 {
    margin-top: 66.667%;
  }
  .col-y-md-offset-9 {
    margin-top: 75%;
  }
  .col-y-md-offset-10 {
    margin-top: 83.333%;
  }
  .col-y-md-offset-11 {
    margin-top: 91.667%;
  }

  /*.start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }*/
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 71rem;
  }

  .col-width-lg,
  .col-width-lg-1,
  .col-width-lg-2,
  .col-width-lg-3,
  .col-width-lg-4,
  .col-width-lg-5,
  .col-width-lg-6,
  .col-width-lg-7,
  .col-width-lg-8,
  .col-width-lg-9,
  .col-width-lg-10,
  .col-width-lg-11,
  .col-width-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 0;
  }

  .col-width-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 100%;
  }
  .col-width-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    width: 8.333%;
  }
  .col-width-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    width: 16.667%;
  }
  .col-width-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    width: 25%;
  }
  .col-width-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    width: 33.333%;
  }
  .col-width-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    width: 41.667%;
  }
  .col-width-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    width: 50%;
  }
  .col-width-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    width: 58.333%;
  }
  .col-width-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    width: 66.667%;
  }
  .col-width-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    width: 75%;
  }
  .col-width-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    width: 83.333%;
  }
  .col-width-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    width: 91.667%;
  }
  .col-width-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
  }

  .col-height-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    height: 100%;
  }
  .col-height-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    height: 8.333%;
  }
  .col-height-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    height: 16.667%;
  }
  .col-height-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    height: 25%;
  }
  .col-height-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    height: 33.333%;
  }
  .col-height-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    height: 41.667%;
  }
  .col-height-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 50%;
  }
  .col-height-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    height: 58.333%;
  }
  .col-height-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    height: 66.667%;
  }
  .col-height-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    height: 75%;
  }
  .col-height-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    height: 83.333%;
  }
  .col-height-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    height: 91.667%;
  }
  .col-height-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 100%;
  }

  .col-x-lg-offset-0 {
    margin-left: 0;
  }
  .col-x-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-x-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-x-lg-offset-3 {
    margin-left: 25%;
  }
  .col-x-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-x-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-x-lg-offset-6 {
    margin-left: 50%;
  }
  .col-x-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-x-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-x-lg-offset-9 {
    margin-left: 75%;
  }
  .col-x-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-x-lg-offset-11 {
    margin-left: 91.667%;
  }

  .col-y-lg-offset-0 {
    margin-top: 0%;
  }
  .col-y-lg-offset-1 {
    margin-top: 8.333%;
  }
  .col-y-lg-offset-2 {
    margin-top: 16.667%;
  }
  .col-y-lg-offset-3 {
    margin-top: 25%;
  }
  .col-y-lg-offset-4 {
    margin-top: 33.333%;
  }
  .col-y-lg-offset-5 {
    margin-top: 41.667%;
  }
  .col-y-lg-offset-6 {
    margin-top: 50%;
  }
  .col-y-lg-offset-7 {
    margin-top: 58.333%;
  }
  .col-y-lg-offset-8 {
    margin-top: 66.667%;
  }
  .col-y-lg-offset-9 {
    margin-top: 75%;
  }
  .col-y-lg-offset-10 {
    margin-top: 83.333%;
  }
  .col-y-lg-offset-11 {
    margin-top: 91.667%;
  }

  /*.start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }*/
}