.aboutPhoto {
    top: 80px;
    box-shadow: none !important;
    border-radius: 0px !important;
}
.content {
    position: relative;
}

a:hover {
    color: #23966c;
}

/* lg */
@media only screen and (min-width: 1440px) {

}

/* md */
@media only screen and (max-width: 1439px) {

}

/* sm */
@media only screen and (max-width: 1023px) {

}

/* xs */
@media only screen and (max-width: 767px) {

}