@-webkit-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}
@keyframes AnimationName { 
  0%{background-position:0% 9%}
  50%{background-position:100% 92%}
  100%{background-position:0% 9%}
}

.landing {
  height: 100vh;
  width: 100vw !important;
  text-align: center;

  background: #23966c;
  
  /* -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite; */

  box-shadow: inset 0 -20px 20px -20px rgba(0,0,0,0.35);
  text-shadow: 0px 3px 6px rgba(0,0,0,0.35);
}

.letter:hover {
  transform: scale(1.5) !important;
}

.intro {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 90vw;
  color: #ffffff !important;
}

.intro>p, .intro>h1 {
  color: #ffffff;
}

.pattern {
  height: 100vh;
  overflow: hidden;
}
  
.actionCall>p {
  color: #FFFFFF;
  font-style: italic;
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 100px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.home>.footer {
  height: 150px !important;
  background-color: #23966c;
  box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.35);
}
.home>.footer>.actionButton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 65px;
  white-space:nowrap;
  color: #ffffff;
  border-color: #ffffff;
}
.home>.footer>.actionButton:hover {
  background-color: #ffffff;
  color:#23966c;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
}

/* lg */
@media only screen and (min-width: 1440px) {

  .intro>h1 {
    font-size: 80px;
    padding-bottom: 15px;
  }

  .icon-scroll {
    width: 70px;
    height: 60px;
    box-shadow: inset 0 0 0 1px #ffffff;
    border-radius: 4px;
  }
  .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin-left: 0px;
    top: 45px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  .featureRow {
    height: 90vh !important;
  }
}

/* md */
@media only screen and (max-width: 1439px) {
  .intro>h1 {
    font-size: 80px;
    padding-bottom: 15px;
  }
  
  .icon-scroll {
    width: 70px;
    height: 60px;
    box-shadow: inset 0 0 0 1px #ffffff;
    border-radius: 4px;
  }
  .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin-left: -4px;
    top: 45px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

/* sm */
@media only screen and (max-width: 1023px) {
  .row.landing {
    height: 100vh;
    text-align: center;
  }

  .icon-scroll {
    width: 50px;
    height: 70px;
    box-shadow: inset 0 0 0 1px #ffffff;
    border-radius: 4px;
  }

  .icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin-left: -4px;
    top: 45px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

/* xs */
@media only screen and (max-width: 767px) {
    .intro>h1 {
      font-size: 50px;
      padding-bottom: 15px;
    }

    .landing {
        height: 100vh !important;
        text-align: center;
    }
    
    .keyFeature {
      border-radius: 0px !important;
      box-shadow: none !important;
    }

    .icon-scroll {
      width: 40px;
      height: 70px;
      border-radius: 4px;
    }
    .icon-scroll:before {
      content: '';
      width: 8px;
      height: 8px;
      background: #ffffff;
      margin-left: 0px;
      top: 45px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
    .icon-scroll,
    .icon-scroll:before {
      position: absolute;
      bottom: 20px;
    }
}
