.landing {
  height: 100vh;
  text-align: center;
}
.intro {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 90vw;
}
.intro>p {
 color: #8C8C8C;
}
.actionCall {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
  bottom: 30px;
}
.actionCall>p {
  color: #8C8C8C;
  font-style: italic;
}
.arrow {
  max-height: 50px;
  padding-top: 10px;
}

/* lg */
@media only screen and (min-width: 1440px) {

}

/* md */
@media only screen and (max-width: 1439px) {

}

/* sm */
@media only screen and (max-width: 1023px) {
  .row.landing {
    height: 100vh;
    text-align: center;
  }
}

/* xs */
@media only screen and (max-width: 767px) {
    .landing {
        height: 100vh !important;
        text-align: center;
    }
    
    .keyFeature {
      border-radius: 0px !important;
      box-shadow: none !important;
    }
}