html {
  font-family: 'Source Code Pro', monospace, sans-serif, Helvetica;
}

/** {
  transition: all, 150ms
}*/

h1 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 64px;
  line-height: 64px;
  margin: 0px;
  color: #4A4A4A;
}

p {
  font-family: 'Source Code Pro';
  font-size: 12px;
  color: #4A4A4A;
}

.pageContainer {
  position: absolute;
  width: 100vw;
}

.actionButton {
  font-family: 'Source Code Pro';
  font-size: 14px;
  text-decoration: none;
  color: #4A4A4A;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #4A4A4A;
  padding: 7px 30px;
  transition: all, 150ms;
}

.landing {
  height: 100vh;
  text-align: center;
}
.landing>.intro {
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.actionButton:hover {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.35);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* md */
@media only screen and (max-width: 1439px) {
  .row {
    max-width: 768px;
  }
}

/* sm */
@media only screen and (max-width: 1023px) {
  .row {
    width: 100vw;
  }
}

/* xs */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  p {
    width: 100% !important;
  }

  .row {
    width: 100vw;
  }

  .actionButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
  }

}

/*Flexbox adjustments */
.container {
  margin: 0;
  padding: 0;
}



.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding: 0px !important;
}

.container>.row {
  width: 100%;
}



