.MenuIcon {
  max-width: 35px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 95vw;
  max-width: 50px;
}

.MenuContainer {
    position: absolute;
    top: 0px;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 0px 2px 4px 2px #ccc;
    width: 200px;
}

.MenuItem {
    font-family: 'Source Sans Pro';
    color: #4A4A4A;
	text-decoration: none;
	font-size: 64px;
	font-weight: bold;
	padding: 0 0 2px;
	margin: 15px;
	text-align: left;
	text-decoration: none !important;
	cursor: pointer;
	display: block;
}