.contentLabel {
  position:absolute;
  left: -15px;
  color: #ffffff;
  background-color: #333333;
  display: inline-block;
  padding: 8px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  bottom: 15%;
}

.workProject:hover {
  transform: scaleZ(1.04);
  transform-origin: center;

}

/* lg */
@media only screen and (min-width: 1440px) {

}

/* md */
@media only screen and (max-width: 1439px) {

}

/* sm */
@media only screen and (max-width: 1023px) {
  .contentLabel {
    margin: 0;
    position: absolute;
	  top: 50%;
	  left: 50%;
    bottom: auto;
	  transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: transparent;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.35);
    box-shadow: none;
    white-space: nowrap;
  }
}

/* xs */
@media only screen and (max-width: 767px) {

}